
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Show</title>
</head>
<body>

<p th:text="${person.getName()}+', '+${person.getAge()}">VALUE</p>
<p th:text="${'Email: ' + person.getEmail()}">VALUE</p>
<p th:text="${'Address: ' + person.getAddress()}">VALUE</p>

<div th:if="${books.isEmpty()}">
  <p>Person has not taken any book yet</p>
  <hr/>
</div>

<div th:if="${!books.isEmpty()}">
  <hr/>
  <b>Books: </b>
  <div th:each="book:${books}">
    <div th:if="${!book.isBookExpired()}" th:text="${book.getTitle()+', '+book.getAuthor()+', '+book.getYearOfRelease()}">a</div>
    <div style="color:red" th:if="${book.isBookExpired()}" th:text="${book.getTitle()+', '+book.getAuthor()+', '+book.getYearOfRelease()}">a</div>
  </div>
  <hr/>
</div>

<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getPersonId()})}">
  <input type="submit" value="Update"/>
</form>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getPersonId()})}">
  <input type="submit" value="Delete"/>
</form>
</body>
</html>
